extends layouts/page
block content
    .central
        ul.boxes
            li
                .box
                    .box-bg
                .box
                    .box-bg
                .box
                    .box-bg
            li
                .box
                    .box-bg
                .box
                    .box-bg
                .box
                    .box-bg
            li
                .box
                    .box-bg
                .box
                    .box-bg
                .box
                    .box-bg
    .hexagon