@import "../../../bower_components/codemirror/lib/codemirror.css";
@import "../../../bower_components/codemirror/theme/ambiance.css";

.markdown{

    font-family: "Arial", "Microsoft YaHei", "Tahoma";
    padding: 20px 30px;
    line-height: 20px;
    font-size: 14px;

    h1, h2, h3{
        margin: 20px -20px 20px -23px;
    }

    h1{
        font-size: 22px;
        color: #505050;
        padding: 12px 20px;
    }

    h2{
        font-size: 20px;
        font-weight: bold;
        padding: 10px 20px;
        color: #606060;
        border-bottom: 4px solid @color3;
    }

    h3{
        font-size: 18px;
        font-weight: normal;
        padding: 8px 20px 8px 21px;
        line-height: 18px;
        color: #606060;
        border-left: 2px solid @color2;
        background: #F9F9F9;

        &:hover{
            border-left: 4px solid @color1;
            padding-left: 20px;
            margin-left: -24px;
        }
    }

    p{
        line-height: 26px;
        color: #686868;
    }

    a{
        color: #428BCA;
        &:hover{
            color: @color1;
        }
    }

    ul li{
        list-style: disc;
    }

    ol li{
        list-style: decimal;
    }

    blockquote{
        padding: 0 0 0 10px;
        margin: 0 0 20px;
        border-left: 3px solid #CCC;
    }

    p code{
        padding: 1px 8px;
        background: #272822;
        border-radius: 2px;
        color: #FFB795;
    }

    table{
        tr{
            td{
                padding: 0 10px;
            }
        }
    }

    .CodeMirror{
        border-radius: 2px;
        background: #272822;
        box-shadow: none;
        font-size: 14px;
        padding-left: 4px;
    }
    .CodeMirror-gutters{
        background: none;
        padding-right: 5px;
        color: #CCC;
    }
    .CodeMirror-linenumber{
        color: #666;
    }
    .CodeMirror {
        height: auto;
    }
    .CodeMirror-scroll {
        overflow-y: hidden;
        overflow-x: auto;
    }
}