extends layouts/page
block content
    .container
        .row
            .col-xs-8 已为您随机加载文章：
        .row
            .col-xs-8
                h1 #{article.title}
        .row
            .col-xs-8.article-meta 作者：#{article.author.username}
        .row
            .col-xs-8
                .article.markdown !{article.content}