@import "../../gallery/dashboard.less";
@import "../../gallery/markdown.less";

#editor .modal-dialog{
    width: 100%;

    #editor-title{
        width: 300px;
    }
}


#list{

    table{
        font-size: 12px;

    }
    
}