html( lang='zh' )
    include ../includes/head
    body
        block body
        #container
            #menu.menu-hide
                #user
                    a#menu-toggle
                        i.fa.fa-bars
                    #user-name 一路走红
                    #user-avatar
                        img
                ul.nav.nav-pills.nav-stacked
                    li.active
                        a( href='javascript:' )
                            i.fa.fa-home
                            span 首页
                    li
                        a( href='#{config.dashboard}/article' )
                            i.fa.fa-pencil-square
                            span 文章
                    li
                        a( href='#{config.dashboard}/code' )
                            i.fa.fa-code
                            span 代码
                    li
                        a( href='javascript:' )
                            i.fa.fa-picture-o
                            span 图库
            #main
                block content