include ../includes/ascii
html( lang='zh' )
    include ../includes/head
    body
        include ../includes/header
        section#content
            block content
        include ../includes/footer