header#header
    .central
        #name-logo 嗯嗯
        ul#base-menu
            li
                a( href='/' ) 首页
            li
                a 测试
            li
                a 测试
            li
                a 测试