header#header
    .central
        ul#base-menu
            li
                a
                    首页
            li
                a
                    测试
            li
                a
                    测试
            li
                a
                    测试