head
    meta( charset='utf-8' )
    title 标题
    - if( path.slice( 0, 7 ) === '/client' )
        link( rel='stylesheet/less', type='text/css', href='#{path}/main.less' )
        script( type='text/javascript', src='/bower_components/less/dist/less-1.5.1.min.js', charset='utf-8' )
        script( type='text/javascript', data-main='/client/config', src='/bower_components/requirejs/require.js' )
        script( type='text/javascript' ).
            require( ['#{path}/main.js'] );
    - else
        link( rel='stylesheet', type='text/css', href='#{path}.css' )
        script( type='text/javascript', data-main='#{path}.js', src='/require.js', charset='utf-8' )
    block head