html
    include ../includes/head
    body
        #container
            #menu
                ul.nav.nav-pills.nav-stacked
                    li.active
                        a( href='javascript:' ) 首页
                    li
                        a( href='javascript:' ) 文章
                            span.badge.pull-right 42
                    li
                        a( href='javascript:' ) 作品
                            span.badge.pull-right 42
                    li
                        a( href='javascript:' ) 图库
                            span.badge.pull-right 42
            #main