@import "common.less";

@hh: 180px;

#header{
    margin-top: -@hh;
    height: @hh + 50;
    margin-bottom: -50px;
}

#content{
    margin-top: 70px;
}

#hidden{
    height: @hh - 1;
    padding: 15px 0;
    border-bottom: 1px solid #E0E0E0;
    #login-panel, #signup-panel, #user-panel{
        display: none;
    }
    .form-group{
        margin-bottom: 10px;
    }
    #user-panel-username-wrap{
        float: left;
        width: 100%;
    }
    #user-panel-username{
        margin-right: 40px;
    }
    #logout{
        float: left;
        margin: 30px 0 0 -30px;
        position: relative;
    }
}



.navbar-enen{
    background-color: #FFF;
    border: 0;
    box-shadow: 0 0 10px #555;

    .navbar-nav {
        font-size: 14px;
        .active{
            a{
                background: none;
                &:hover{
                    background: none;
                }
            }
        }
        .navbar-btn{
            margin-left: 10px;
        }
    }
    .navbar-collapse{
        background: #FFF;
        border-bottom: 1px solid #E0E0E0;
    }
}

#name-logo{
    font-family: 'EnEn-Web';
    font-size: 30px;
    line-height: 30px;
    height: 50px;
    padding: 10px;
}

#footer{
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 60px;
    color: #777;
    text-align: center;
    border-top: 1px solid #E5E5E5;
}