#list.panel.panel-default( data-ng-init='init( )' )
    .panel-body
        .btn-group
            a.btn.btn-default( ng-click='list( $event )' ) 刷新
            a.btn.btn-primary( href='#{config.dashboard}/article/new' ) 新建文章
    table.table.table-hover.table-striped
        tr
            th.column-title 标题
            th.column-author 作者
            th.column-actions 功能
        tr( ng-repeat='article in articles' )
            td
                a.btn.btn-link.btn-sm( href='/article/{{ article._id }}', target='_blank' ) {{ article.title }}
            td
                a.btn.btn-link.btn-sm( href='/user/{{ article.author._id }}', target='_blank' ) {{ article.author.username }}
            td
                a.btn.btn-link.btn-sm( href='#{config.dashboard}/article/{{ article._id }}' ) 编辑
                a.btn.btn-link.btn-sm( href='javascript:', ng-click='remove( article )' ) 删除