#list.panel.panel-default( data-ng-init='init( )' )
    .panel-heading 列表
    .panel-body
        .btn-group.btn-group-sm
            a.btn.btn-default( ng-click='list( $event )' ) 刷新
            a.btn.btn-default 删除
            a.btn.btn-primary( href='#{site.dashboard}/show/new' ) 创建   
    .table-responsive
        table.table.table-hover.table-striped
            tr
                th.column-select
                    a.btn.btn-default.btn-xs( data-toggle='button' ) 全选
                th.column-thumbnail 预览
                th 名称
                th 文件
                th 操作
            tr
                td
                    a.btn.btn-default.btn-xs( data-toggle='button' ) 选择
                td
                    a.thumbnail
                        img( src='http://www.baidu.com/img/bdlogo.gif' )
                td
                    a( href='', target='_blank' ) 这是一个挺长的测试标题
                td
                    .btn-group-vertical.btn-group-xs
                        a.btn.btn-default main.html
                        a.btn.btn-default main.css
                        a.btn.btn-default main.js
                        a.btn.btn-default /xxx/jquery.js
                td
                    .btn-group
                        a.btn.btn-default.btn-xs( href='#{site.dashboard}/show/{{ show._id }}' type='button' ) 修改
                        a.btn.btn-default.btn-xs( href='javascript:' ng-click='remove( show )' type='button' ) 删除
        .panel-footer
            pagination.pagination-sm( total-items='11', page='page', boundary-links='true', direction-links='false', rotate='false', first-text='首页', last-text='尾页' )