extends layouts/admin
block content
    #list
        table( ng-controller='ArticlesCtrl' data-ng-init='find()' )
            tr
                th.column-title 标题
                th.column-author 作者
                th.column-actions 功能
            tr.editor
                td( colspan='3' )
                    .editor-input
                        .editor-article-title
                            input
                        .editor-article-content
                    .editor-output
            tr( ng-repeat='article in articles' )
                td.article-title
                    a( href='/{{ article._id }}', target='_blank' ) {{ article.title }}
                td
                    a( href='/user/{{ article.author._id }}', target='_blank' ) {{ article.author.username }}
                td
                    a.iconbtn( href='javascript:', ng-click='edit($event,article)' )
                        i.fa.fa-pencil-square-o
                    a.iconbtn( href='javascript:', ng-click='remove(article)' )
                        i.fa.fa-times
    #markdown.markdown