extends layouts/page
block content
    .central
        ul#posts
            li
                section
                    aside
                    article
                        header
                            h2
                                a 测试


