extends layouts/page
block content
    div.login
        form( action='/login', method='post' )
            p
                input( placeholder='用户名/邮箱', name='username' )#username
            p
                input( placeholder='密码', type='password', name='password' )#password
            p
                input.save#submit( type='submit', value='登录' )