extends layouts/page
block content
    div.login
        p
            input(placeholder='Username or Email')#username
        p
            input(placeholder='Password',type='password')#password
        p
            button#submit.save Sign in